{% extends "base.twig" %}

{% block body_class %}connected-user-profil{% endblock %}

{% block content %}

	<section class="background white-background">
		<h1>{{ content.title }}</h1>
	</section>

	<section class="background white-background">
		<form action="{{ content.form_url }}" method="post">

			<div class="wrap-form">
				<div class="label-wrap">
					<label for="firstname">Prénom</label>
				</div>
				<input type="text" id="firstname" name="firstname" required value="{{ user.name|e }}">
			</div>

			<div class="wrap-form">
				<div class="label-wrap">
					<label for="birthdate">Date de naissance</label>
					<span class="helper">JJ/MM/AAAA</span>
				</div>

				<input type="date" id="birthdate" min="1930-01-01" max="{{ "now"|date("Y-m-d") }}" name="birthday" value="{{ user.birthday_date|e }}">
			</div>

			<div class="wrap-form">

				<div class="label-wrap">
					<span class="fake-label">Tailles</span>
					<span class="helper">Facultatif</span>
				</div>

				<div class="wrapper-form">
					<div class="wrap-form mini-form">
						<div class="label-wrap">
							<label for="size-top">Haut</label>
						</div>
						<input type="text" id="size-top" name="size-top" value="{{ user.size_top|e }}">
					</div>

					<div class="wrap-form mini-form">
						<div class="label-wrap">
							<label for="size-bottom">Bas</label>
						</div>
						<input type="text" id="size-bottom" name="size-bottom" value="{{ user.size_bottom|e }}">
					</div>

					<div class="wrap-form mini-form">
						<div class="label-wrap">
							<label for="size-feet">Pied</label>
						</div>
						<input type="text" id="size-feet" name="size-feet" value="{{ user.size_feet|e }}">
					</div>
				</div>
			</div>

			<div class="wrap-form">

				<div class="label-wrap">
					<span class="fake-label">Illustration</span>
				</div>

				<div class="content-img-choice">

					{% for i in 1..15 %}

					{% if i == user.picture %}
					{% set checked = 'checked' %}
					{% else %}
					{% set checked = '' %}
					{% endif %}
					
					<div class="single-choice">
						<input type="radio" id="photo{{ i }}" value="{{ i }}" name="photoChoice" {{ checked }}>
						<label for="photo{{ i }}">
							<img src="assets/img/avatar/avatar{{ i }}.png" alt="" class="avatar">
						</label>
					</div>

					{% endfor %}

				</div>
			</div>

			<div class="wrap-form wrap-form-borderless" id="switch-child">
				<div class="label-wrap">
					<span class="fake-label">Compte enfant ?</span>
				</div>

				{% if user.isChildAccount == true %}
				{% set checked = 'checked' %}
				{% endif %}

				<div class="switch">
					<input type="checkbox" id="child-account" v-on:change="reverseSwitch" name="isChild" value="true" {{ checked }}>
					<label for="child-account" class="">
						<span class="switch-option1">Oui</span>
						<span class="switch-option2">Non</span>
					</label>
				</div>
			</div>		

			<div class="wrap-form choiceParent" id="choiceParent">
				<div class="label-wrap">
					<span class="fake-label">Qui peut modifier cette liste ?</span>
				</div>

				<ul class="grid">
			
					{% for parent in all_parents %}

						{% set checked = '' %}

						{% for current_parent in account_parents %}

							{% if parent.ID == current_parent %}
								{% set checked = 'checked' %}
							{% endif %}

						{% endfor %}
						
					<li>
						
						<input type="checkbox" name="choiceParent[]" value="{{ parent.ID }}" id="parent{{ parent.ID }}" {{ checked }} />
						<label for="parent{{ parent.ID }}">
							<img src="assets/img/avatar/avatar{{ parent.picture }}.png" alt="" class="avatar">
							{{ parent.name }}
						</label>

					</li>

					{% endfor %}

				</ul>

			</div>
			
			<div class="bt-wrapper">
				<button type="submit" class="bt color-bt">{{ content.submit }}</button>
			</div>

		</form>


		{% if mode == 'edit' %}

			<form action="form/delete-account.php" method="POST" id="delete-confirmation">

				<input type="hidden" name="userID" value="{{ user.ID }}">
				<input type="hidden" name="userName" value="{{ user.name|e }}">

				<div class="bt-group">
					<button class="bt red-bt" type="button">
						Supprimer ce compte
					</button>
				</div>

				<div class="background primary-background message" v-show="isDisplay">

					<p>Supprimer <strong>{{ user.name|e }}</strong> ?</p>
					<p>Toutes ses informations et ses cadeaux associés seront définitivement supprimés !</p>
					<div class="bt-group">
						<button class="bt border-white-bt" type="button">
						Non, annuler
					</button>
						<button type="submit" class="bt red-bt">Oui, supprimer</button>
					</div>

				</div>

			</form>


			{% endif %}
			
	</section>

{% endblock content %}
