{% extends "base.twig" %}

{% block body_class %}template-home{% endblock %}

{% block content %}

	
	<section class="home-header white-background background">
	
		<h1 class="top-header--home--intro">Bonjour</h1>
		<p class="top-header--sousTitre">C'est gentil de faire un cadeau</p>
		
		
		<div class="choice-client--top">
			<a href="guest.php" class="bt color-bt">Me connecter en tant qu'invité</a>

			<p class="home-txt">Vous pourrez réserver un cadeau, mais n’avez pas votre liste.</p>
			<span class="choice-client--separator">ou</span>
		</div>

	</section>

	<section class="list-connection primary-background background">

		{% if users is not empty %}

			<ul class="grid">

				{% for user in users %}
			
				<li class="list_elt single-people">
					<img src="assets/img/avatar/avatar{{ user.picture }}.png" alt="">
					<div class="inner-singlePeople">
						<h3>{{ user.name }}</h3>
						<a href="user.php?user={{ user.ID }}" class="bt color-bt">Me connecter</a>
					</div>
				</li>

				{% endfor %}

			</ul>

			{% endif %}

			<div class="add-account-home">
				<a href="add_account.php" class="bt border-white-bt">Ajouter un compte</a>
			</div>

	</section>


	{% if pagetype is not empty %}

		<div class="primary-background background message animation">

			{% if pagetype.type == 'creation' %}
				<p><strong>{{ page.type.user }}</strong> a bien été ajouté(e) !</p>
				<p>Bienvenue dans la famille ! :)</p>
			{% endif %}

			{% if pagetype.type == 'delete' %}
				<p><strong>{{ page.type.user }}</strong> a bien été supprimé(e).</p>
			{% endif %}

		</div>

	{% endif %}


{% endblock content %}
