{% extends "base.twig" %}

{% block body_class %}connected-user-profil{% endblock %}

{% block content %}

	{# Users infos #}

	{% if currentUser is not empty %}

	<section class="user-infos background white-background">
		<img src="assets/img/avatar/avatar{{ currentUser.infos.picture }}.png" alt="">
		<div class="inner-user-infos">
			<h1>{{ currentUser.infos.name }}</h1>

			{% if currentUser.infos.birthday_date is not empty %}

			<div class="birthday-infos">
				<div class="svg-wrapper">
					<object data="assets/img/svg-prod/baby.svg" type="image/svg+xml"></object>
				</div>
				<span class="birthday">{{ currentUser.infos.nice_birthday_date }}</span>
				<span class="age">{{ currentUser.infos.age }} ans</span>
			</div>

			{% endif %}

			{% if (currentUser.infos.size_top or currentUser.infos.size_bottom or currentUser.infos.size_feet) is not empty %}

			<div class="size-infos">

				{% if currentUser.infos.size_top is not empty %}
				<div class="wrapper-size" title="Taille haut">
					<div class="svg-wrapper">
						<object data="assets/img/svg-prod/tshirt.svg" type="image/svg+xml"></object>
					</div>
					<span class="top">{{ currentUser.infos.size_top }}</span>
				</div>
				{% endif %}

				{% if currentUser.infos.size_bottom is not empty %}
				<div class="wrapper-size" title="Taille pantalon">
					<div class="svg-wrapper">
						<object data="assets/img/svg-prod/pant.svg" type="image/svg+xml"></object>
					</div>
					<span class="bottom">{{ currentUser.infos.size_bottom }}</span>
				</div>
				{% endif %}

				{% if currentUser.infos.size_feet is not empty %}
				<div class="wrapper-size" title="Taille chaussure">
					<div class="svg-wrapper">
						<object data="assets/img/svg-prod/shoe.svg" type="image/svg+xml"></object>
					</div>
					<span class="feet">{{ currentUser.infos.size_feet }}</span>
				</div>
				{% endif %}

			</div>

			{% endif %}

		</div>
		
		<a href="form-account.php?mode=edit&user={{ currentUser.infos.ID }}" class="bt border-primary-bt">Modifier les infos</a>
		
	</section>

	{% endif %}


	{# Users latest gifts #}

	{% if currentUser.gifts is not empty %}

	<section class="list-gifts background white-background">

		<ul class="grid overlay-parent">
			
			{% for gift in currentUser.gifts %}
		
			<li class="list_elt single-gift">

				<div class="gift-content">

					<div class="gift-header">

						<h3>{{ gift.title }}</h3>
						
						{% if gift.link is not empty %}
						
						<a href="{{ gift.link }}" target="_blank" class="bt border-pink-bt">Voir</a>
						
						{% endif %}

					</div>
					
					{% if gift.link is not empty %}

					<div class="gift-description">
						<p>{{ gift.description }}</p>
					</div>
					
					{% endif %}

				</div>
			</li>
			
			{% endfor %}
			
			<div class="overlay-wish">
				<a href="list.php?user=<?php echo $userID;?>" class="bt color-bt">Modifier ma liste</a>
			</div>

		</ul>

	</section>
	
	{% endif %}


	{# Other users list #}


	{% if users is not empty %}


	<section class="primary-background background">
		<h2>Voir les listes</h2>

		{% set vars = {'btLink':'list.php?user=','btTxt':'Voir la liste'} %}
		{% include 'template-parts/user-list.twig' with vars %}
		
	</section>

	{% endif %}

{% endblock content %}