

<form action="{{ action }}" method="post" class="gift-form closed">

	<div class="overlay"></div>

	<button class="close-modale" type="button">
		<span>x</span>
	</button>

	<div class="form-wrapper">

		<h2>Cadeau</h2>
		<p class="h3">{{ title }}</p>

		<div class="wrap-form">
			<div class="label-wrap">
				<label for="">Désignation</label>
			</div>
			<input type="text required" name="designation">
		</div>

		<div class="wrap-form">
			<div class="label-wrap">
				<label for="">Lien</label>
				<span class="helper">Facultatif</span>
			</div>
			<input type="text" name="link">
		</div>

		<div class="wrap-form">
			<div class="label-wrap">
				<label for="">Description</label>
				<span class="helper">Facultatif</span>
			</div>
			<textarea height=3 name="description"></textarea>
		</div>

		<div class="wrap-form wrap-form-borderless" id="switch-child">
			<div class="label-wrap">
				<span class="fake-label">Est-ce une liste ?</span>
			</div>

			

			<div class="switch">
				<input type="checkbox" id="{{mode}}isList" name="isList">
				<label for="{{mode}}isList" class="">
					<span class="switch-option1">Oui</span>
					<span class="switch-option2">Non</span>
				</label>
			</div>

		</div>


		<div class="bt-wrapper">
			<input type="hidden" name="userID" value="{{ currentUser.infos.ID }}">
			<input type="hidden" name="currentGift" value="">
			<button type="submit" class="bt border-pink-bt">{{ button }}</button>
		</div>

	</div>

</form>