{% if gift.isReserved and gift.reservationUserID != logedInUser and permissions.owner == false %}
	{% set isReservedClass = 'reserved-gift reserved-by-other' %}
{% endif %}

{% if gift.isReserved and gift.reservationUserID == logedInUser and permissions.owner == false %}
	{% set isReservedClass = 'reserved-gift reserved-by-me' %}
{% endif %}


<li class="list_elt single-gift {{ isReservedClass }}">

	<div class="gift-content">

		<div class="gift-header">

			<h3>{{ gift.title|e }}</h3>
			
			{% if gift.link is not empty %}
			
			<a href="{{ gift.link|e }}" target="_blank" class="bt border-pink-bt tiny-bt">Voir</a>
			
			{% endif %}

		</div>
		
		{% if gift.description is not empty %}

		<div class="gift-description">
			<p>{{ gift.description|e }}</p>
		</div>
		
		{% endif %}

		{# Gift edit #}

		{% if permissions.owner == true or permissions.parent == true %}

		<div class="gift-edit">
				<button type="button" class="bt border-red-bt tiny-bt bt-delete-gift">Supprimer</button>

				{% if gift.isReserved == false or permissions.owner == true %}
				<button type="button" class="bt border-white-bt tiny-bt edit-gift" data-giftid="{{ gift.ID }}">Modifer</button>
				{% endif %}
		</div>

		<form action="form/delete-gift.php" method="post" class="overlay-delete-gift">

			<div class="wrapper-overlay">
				<p class="title-delete"><strong>Voulez-vous vraiment supprimer</strong> <br>{{ gift.title|e }} ?
				</p>

				<input type="hidden" name="giftID" value="{{ gift.ID }}">
				<input type="hidden" name="userID" value="{{ currentUser.infos.ID }}">
				<button type="button" class="bt border-white-bt tiny-bt close-delete-bt-overlay">Non, annuler</button>
				<button type="submit"class="bt border-red-bt tiny-bt">Oui, supprimer</button>
			</div>

		</form>

		{% endif %}


		{# Reservation button, only available for non reserved gift and if you're not a parent of the current user #}

		{% if (permissions.owner == false and permissions.parent == false) and gift.isReserved == 0  %}
			<form class="gift-edit" method="POST" action="form/reserve-gift.php">
				<input type="hidden" name="giftID" value="{{ gift.ID }}">
				<input type="hidden" name="sessionUser" value="{{ logedInUser }}">
				<input type="hidden" name="userID" value="{{ currentUser.infos.ID }}">
					<button type="submit" class="bt border-white-bt tiny-bt edit-gift" data-giftid="{{ gift.ID }}">Réserver</button>
			</form>
		{% endif %}

		{# Information of the reserver, if it's not me #}		
		{% if permissions.owner == false and gift.isReserved == 1 and gift.reservationUserID != logedInUser %}
			<div class="gift-reserved-informations">
					<div class="avatar-wrapper">
						<img src="assets/img/avatar/avatar{{ gift.reservation.user.picture }}.png" alt="">
						<div class="svg-wrapper">
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 114.73 131.54"><path class="a" d="M101.72,14.09c11.6,13,12.9,34.8,13,56.8s-1,44-12.6,53.8-33.6,7.4-51.6,3.2-31.7-9.9-40.1-19.7S-.88,84.59.22,72s6.5-24.1,14.9-37.1,19.8-27.5,36.5-32.7S90.12,1.09,101.72,14.09Z"/></svg>
						</div>
					</div>

					<span>Réservé par {{ gift.reservation.user.name }}</span>
			</div>
		{% endif %}

		{# Information of the reserver, if it's me #}		
		{% if permissions.owner == false and gift.isReserved == 1 and gift.reservationUserID == logedInUser %}
			<div class="gift-reserved-informations">
					<div class="avatar-wrapper">
						<img src="assets/img/avatar/avatar{{ gift.reservation.user.picture }}.png" alt="">
						<div class="svg-wrapper">
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 114.73 131.54"><path class="a" d="M101.72,14.09c11.6,13,12.9,34.8,13,56.8s-1,44-12.6,53.8-33.6,7.4-51.6,3.2-31.7-9.9-40.1-19.7S-.88,84.59.22,72s6.5-24.1,14.9-37.1,19.8-27.5,36.5-32.7S90.12,1.09,101.72,14.09Z"/></svg>
						</div>
					</div>

					<span>Réservé !</span>
			
			<form action="form/cancel-reservation.php" method="POST">
				<input type="hidden" name="giftID" value="{{ gift.ID }}">
				<input type="hidden" name="userID" value="{{ currentUser.infos.ID }}">
				<button type="submit"class="bt border-red-bt tiny-bt">Annuler la réservation</button>
			</form>

			</div>
		{% endif %}




	</div>


</li>