<section class="user-infos background white-background">
		<img src="assets/img/avatar/avatar{{ currentUser.infos.picture }}.png" alt="">
		<div class="inner-user-infos">
			<h1>{{ currentUser.infos.name|e }}</h1>

			{% if currentUser.infos.birthday_date is not empty %}

			<div class="birthday-infos">
				<div class="svg-wrapper">
					<object data="assets/img/svg-prod/baby.svg" type="image/svg+xml"></object>
				</div>
				<span class="birthday">{{ currentUser.infos.nice_birthday }}</span>
				<span class="age">{{ currentUser.infos.age }}</span>
			</div>

			{% endif %}

			{% if (currentUser.infos.size_top or currentUser.infos.size_bottom or currentUser.infos.size_feet) is not empty %}

			<div class="size-infos">

				{% if currentUser.infos.size_top is not empty %}
				<div class="wrapper-size" title="Taille haut">
					<div class="svg-wrapper">
						<object data="assets/img/svg-prod/tshirt.svg" type="image/svg+xml"></object>
					</div>
					<span class="top">{{ currentUser.infos.size_top|e }}</span>
				</div>
				{% endif %}

				{% if currentUser.infos.size_bottom is not empty %}
				<div class="wrapper-size" title="Taille pantalon">
					<div class="svg-wrapper">
						<object data="assets/img/svg-prod/pant.svg" type="image/svg+xml"></object>
					</div>
					<span class="bottom">{{ currentUser.infos.size_bottom|e }}</span>
				</div>
				{% endif %}

				{% if currentUser.infos.size_feet is not empty %}
				<div class="wrapper-size" title="Taille chaussure">
					<div class="svg-wrapper">
						<object data="assets/img/svg-prod/shoe.svg" type="image/svg+xml"></object>
					</div>
					<span class="feet">{{ currentUser.infos.size_feet|e }}</span>
				</div>
				{% endif %}

			</div>

			{% endif %}

		</div>
		
		<a href="update-account.php?user={{ currentUser.infos.ID }}" class="bt border-primary-bt">Modifier les infos</a>
		
	</section>